<div class="container">
      <div class="card-white" id="introduction">
        <%= render 'venues/photo' , venue: booking.venue%>
        <h1><%=booking.venue.name%></h1>
        <p><strong>Address:</strong><%= booking.venue.location %></p>
        <p><strong>Capacity:</strong><%= booking.venue.capacity %></p>
        <p><strong>Details:</strong><%= booking.venue.details %></p>
        <%# <%= link_to "Book Venue", venue_path, class: "btn btn-primary" %>
        <p> <strong> From :</strong>
         <%= render 'shared/date_format', date: booking.start_date%>
        </p>
        <p> <strong>Until : </strong> <%= render 'shared/date_format', date: booking.end_date%></p>
        <% if booking.accepted%>
          <h3 class ='text-success'> Booking Accepted</h3>
        <%else%>
          <h3 class ='text-warning'>Booking Pending</h3>
        <%end%>
      </div>
</div>
