<div class="container">
      <div class="card-white" id="introduction">
       <img width="400px" height="200px" src="https://news.airbnb.com/wp-content/uploads/sites/4/2022/09/Newsroom-About.jpg?fit=2500%2C1073">
        <h1><%=booking.venue.name%></h1>
        <p><%= booking.venue.location %></p>
        <p><%= booking.venue.capacity %></p>
        <p><%= booking.venue.details %></p>
        <%# <%= link_to "Book Venue", venue_path, class: "btn btn-primary" %>
        <p> <strong> From :</strong>
         <%= render 'shared/date_format', date: booking.start_date%>
        </p>
        <p> <strong>Until : </strong> <%= render 'shared/date_format', date: booking.end_date%></p>
        <% if booking.accepted%>
          <h3 class ='text-success'> Booking Accepted</h3>
        <%else%>
          <h3 class ='text-warning'>Booking Pending</h3>
        <%end%>
      </div>
</div>
