div class="container-index d-flex">
  <div class="cards">
    <% @venues.each do |venue| %>
      <div class="card row">
        <h1><%= venue.name %></h1>
        <p><%= venue.location %></p>
        <p><%= venue.capacity %></p>
        <p><%= venue.details %></p>
        <p><%= venue.available %></p>
        <%= link_to "View Venue", venue_path(venue), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

.container-index {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 100px;
  padding-bottom: 60px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card {
  margin: 5px;
}
