

<div class="container">
      <div class="card-white" id="introduction">
       <%= render "photo", venue: @venues %>
        <h1><%= @venues.name %></h1>
        <p><%= @venues.location %></p>
        <p><%= @venues.capacity %></p>
        <p><%= @venues.details %></p>
        <p><%= @venues.available %></p>
        <%# <%= link_to "Book Venue", venue_path, class: "btn btn-primary" %>


        <%= simple_form_for [@venues, @booking] do |l| %>
        <%= l.input :start_date %>
        <%= l.input :end_date %>
        <%= l.submit class: "btn btn-flat mt-2"%>
        <% end %>

      </div>
</div>



<%# class Booking < ApplicationRecord
  belongs_to :user
  belongs_to :venue
  validates :start_date, presence:true
  validates :end_date, presence: true, comparison: {greater_than: :start_date}
end %>
