<div class="container">
    <div class="card-white" id="introduction">
        <!-- Render a partial named "photo" and pass the @venues object to it -->
        <h2 class="text-center"><%= @venues.name %></h2>
        <%= render "photo", venue: @venues %>

        <!-- Main card content -->
        <div class="card-content">
          <h2><%=@venues.name%></h2>
            <!-- Venue information cards -->
            <div class="row">
                <!-- Capacity card -->
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Capacity</h5>
                            <p class="card-text" style="font-size: 40px;"><%= @venues.capacity %></p>
                        </div>
                    </div>
                </div>

                <!-- Details card -->
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Details</h5>
                            <p class="card-text"><%= @venues.details %></p>
                        </div>
                    </div>
                </div>

                <!-- Availability card -->
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Availability</h5>
                            <% if @venues.available %>
                                <p class="card-text" style="color: green; font-size: 25px;">Available</p>
                            <% else %>
                                <p class="card-text" style="color: red; font-size: 25px;">Not Available</p>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Booking form -->
           <!--<%= render 'booking_form', venues:@venue, booking:@booking%> -->
           <%if @venues.user == current_user%>

           <div class="d-flex justify-content-around mt-3">
            <%if @venues.available%>
              <%= button_to "Unlist Venue", list_venue_path, class:"btn btn-dark "%>
              <%= link_to "Remove Venue", venue_path(@venues), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-dark  "%>
             <%= link_to "Back", venues_my_venues_path, class: "btn btn-dark" %>
            <%else%>
              <%= button_to "List Venue", list_venue_path, class:"btn btn-dark "%>
              <%= link_to "Remove Venue", venue_path(@venues), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-dark "  %>
              <%= link_to "Back", venues_my_venues_path, class: "btn btn-dark" %>
            <%end%>



           </div>
           <%else%>
            <%if @venues.available%>
                <div class="row mt-3">
                    <div class="col">
                        <%= simple_form_for [@venues, @booking], html: { class: "mb-2" } do |l| %>
                        <div class="d-flex justify-content-evenly">
                            <%= l.input :start_date, as: :string, input_html:{data:{controller:'datepicker'}} %>
                            <%= l.input :end_date, as: :string, input_html:{data:{controller:'datepicker'}} %>

                        </div>
                            <div class="d-flex justify-content-evenly mt-4">
                                <%= link_to "Back", venues_my_venues_path, class: "btn btn-secondary mx-3" %>
                                <%= l.submit "Create Booking", class: "btn btn-flat mx-3" %>
                            </div>
                        <% end %>
                    </div>
                  </div>
              <%end%>
           <%end%>
            </div>
        </div>
    </div>
</div>


<%=render 'reviews/review'%>
