<div class="container">
    <div class="card-white" id="introduction">
        <!-- Render a partial named "photo" and pass the @venues object to it -->
        <%= render "photo", venue: @venues %>

        <!-- Main card content -->
        <div class="card-content">
            <!-- Venue information cards -->
            <div class="row">
                <!-- Capacity card -->
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Capacity</h5>
                            <p class="card-text" style="font-size: 40px;"><%= @venues.capacity %></p>
                        </div>
                    </div>
                </div>

                <!-- Details card -->
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Details</h5>
                            <p class="card-text"><%= @venues.details %></p>
                        </div>
                    </div>
                </div>

                <!-- Availability card -->
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Availability</h5>
                            <% if @venues.available %>
                                <p class="card-text" style="color: green; font-size: 25px;">Available</p>
                            <% else %>
                                <p class="card-text" style="color: red; font-size: 25px;">Not Available</p>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Booking form -->
           <!--<%= render 'booking_form', venues:@venue, booking:@booking%> -->
           <%if @venues.user == current_user%>
              <%= button_to "List Venue", list_venue_path, class:"btn btn-dark mt-3"%>
           <%else%>
              <div class="row mt-3">
                  <div class="col">
                      <%= simple_form_for [@venues, @booking], html: { class: "mb-2" } do |l| %>
                          <%= l.input :start_date %>
                          <%= l.input :end_date %>
                          <div class="d-flex justify-content-between">
                              <%= link_to "Back", :back, class: "btn btn-secondary mt-2" %>
                              <%= l.submit "Create Booking", class: "btn btn-flat mt-2" %>
                          </div>
                      <% end %>
                  </div>
              </div>
           <%end%>
            </div>
        </div>
    </div>
</div>
