<h1>This is a specific Venue!!!</h1>
<h1>This is a specific Venue!!!</h1>
<h1>This is a specific Venue!!!</h1>



        <p><%= @venues.name %></p>
        <p><%= @venues.location %></p>
        <p><%= @venues.capacity %></p>
        <p><%= @venues.details %></p>
        <p><%= @venues.available %></p>


        <%= link_to "View Venue", venue_path, class: "btn btn-primary" %>
